.user_settings-popup{
  // padding: 0px 5px;
  // background: #F55501;
  background: $purple;
  border-radius: 5px;
  color:#ffffff;
  // user-select: ;
  // user-select-
  ::selection{
    background: red;
  }
}

.user_settings-popup__header{
  // padding: 0px 5px;
}

.user_settings-popup__body__name{
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  // padding: 5px;
  margin-top: 10px;
  // align-items: center;
  div:nth-child(1){
    margin-top: 5px;
  }

  
}

.user_settings-popup__body__name__input{
  max-width: 150px;
}

.user_settings-popup__body{
  height: 120px;
}

.user_settings-popup__bottom{
  margin: 10px;
  display: flex;
  justify-content: right;
  flex-flow: row-reverse;
}