.message_my,
.message-wrapper,
.message_alien{
  // max-width: 70%;
  // width
  display: inline-block;
  color: #ffffff;
  border-radius: 10px;
  // margin-bottom: 20px;
  width: 100%;
}

.message{
  margin: 0px 10px;
  margin-bottom: 10px;
}

.message_my{
  float: right;
  background: $primary-color;
}

.message_my>.message__content::selection{
  background: $ultra_active;
}

.message_alien{
  background: $ultra_active;
}

.message__author{
  font-weight: 600;
  color: $primary-color;
  margin-bottom: 10px;
}
.message__content{
  color: black;
}

.system-message{
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.system-message__content{
  margin: auto;
  display: inline-block;
  padding: 5px 10px;
  background: $gray;
  color: $font_gray;
  border-radius: 5px;
  font-size: 12px;
  user-select: none;
}