.chat-preferences-open,
.chat-preferences-close{
  min-width: 250px;
  height: 100%;
  background: $white;
  user-select: none;
  // transition: 0.3s margin ease-in-out;
  border-left: 1px solid $gray;
  margin-right: 0px;
}

.chat-preferences-close{
  margin-right: -250px;
}
