
// -loading
.chat-preferences-open,
.chat-preferences-close,
.chat-preferences-open-loading,
.chat-preferences-close-loading{
  min-width: 250px;
  height: 100%;
  background: $gray;
  user-select: none;
  // transition: 0.3s margin ease-in-out;
  border-left: 1px solid $gray;
  margin-right: 0px;
}

.chat-preferences-close,
.chat-preferences-close-loading{
  margin-right: -250px;
}


.chat-preferences-open-loading,
.chat-preferences-close-loading{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.chat-preferences-loader{
  width: 30px;
  height: 20px;
}


@media screen and (min-width: 992px) {
  .chat-preferences-close,
  .chat-preferences-close-loading{
    margin-right: 0px;
  }
}
