.window__content{
  height: 100%;
  width: 100%;
  // display: flex;
  // align-items: flex-end;
  padding: 10px 0px;
  overflow-y: auto; 
}

.window__content>div{
  width: 100%;
  flex-flow: column;
  display: flex;
  align-items: flex-start;
  // height: 100%;
}