$border-color: #F9F9F9;
$primary-color: #396afc;
$passive-accent-color: #9A98A1;
$black: #696969;
$purple: #F6547D;
$dark: #333333;
$blue: #F8F9FF;

$primary-font: #ffffff;
$alternative-font: darken(#ffffff, 25%);

$new_light_dark: #363050;
$new_base_color: #2B2741;
$opacity: #4C4C67;
$ultra_active: #ff7100;
$red: red;
