// $passive-accent-color: #9A98A1;
// $black: #696969;
// $purple: #F6547D;
// $dark: #333333;
// $blue: #F8F9FF;

// $primary-font: #ffffff;
// $alternative-font: darken(#ffffff, 25%);

// $new_light_dark: #ECEDEE;
// $new_base_color: #2B2741;
// $opacity: #4C4C67;
$gray: #f7f8fa;
$middle_gray: #F0F1F2;
$dark_gray: #AEB0B2;
$font_gray: #696969;
// $test_gray: #f7f8fa;

$white: #ffffff;

$border-color: #F9F9F9;

$primary-color: #396afc;
$passiv-primary-color: lighten($primary-color, 20%);
$red: red;
$ultra_active: #ff7100;
