


$gray: #f7f8fa;
$middle_gray: #F0F1F2;
$dark_gray: #AEB0B2;
$font_gray: #696969;

$white: #ffffff;

$border-color: #F9F9F9;

$primary-color: #396afc;
$passiv-primary-color: lighten($primary-color, 20%);
$red: red;
$ultra_active: #ff7100;
$green: #1eb563;
$purple: #363050;

