.window__input{
  // min-height: 40px;
  background: $new_light_dark;
  width: calc(100% - 30px);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  user-select: none;
  padding: 5px;
  
}

.window__input__buttons{
  width: 50px;
  display: flex;
}

.window__input__buttons>div{
  margin-right: 10px;
  cursor: pointer;
}

.window__input__buttons>div:nth-child(2){
  transform: rotate(180deg);
}

.window__input__buttons>div>svg{
  width: 20px;
  height: 20px;
  fill:darken(#ffffff, 50%);
}

.window__input__buttons>div:hover>svg{
  fill:darken(#ffffff, 30%);
}

.window__input__buttons>div:active>svg{
  fill:darken(#ffffff, 60%);
}


.window__input__input{
  width: calc(100% - 120px);
  color: #ffffff;
  height: 40px;
  background: $new_light_dark;
  border-style:solid;
  border: none;
  font-size: 14px;
  margin-left: -10px;

  &:focus {
    outline: none;
  }
}

.window__input__send{
  cursor: pointer;
  margin-right: 5px;
}
.window__input__send>svg{
  width: 30px;
  height: 30px;
  fill: $ultra_active;
  opacity: 0.8;
}

.window__input__send:hover>svg{
  // fill: lighten($ultra_active, 20%);
  opacity: 1;
}

.window__input__send:active>svg{
  // fill: darken($ultra_active, 20%);
  opacity: 0.6;
}