.sidebar{
  width: 230px;
  height: 100%;
  background: $gray;
  user-select: none;
}

.sidebar__items{
  height: calc(100% - 40px);
  // background: blue;
  width: 100%;
}

.sidebar__items__notfound{
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 30px;
  align-items: center;
  font-size: 12px;
  color: $font_gray;
  user-select: none;
}